@model IEnumerable<Client.Models.Country>

@{
    ViewData["Title"] = "Home Page";
}

<div class="div-title text-center">
    <h1 class="display-4">Welcome Country List</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@section scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

